{% extends "user/background.html" %}
{% block welcome_message %}
    <div class="welcome-message">Welcome</div>
{% endblock %}
{% block login_container %}
    {% if kind == "student" %}
        <div class="login-kind-title">I'am a student</div>
    {% else %}
        <div class="login-kind-title">I am a teacher</div>
    {% endif %}
    <div class = "form">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="submit-button">
                <input type="submit" value="Login"/>
                <a href="">Register</a>
            </div>
        </form>
        <div class="return-button"><a href="{% url 'login' %}">Go Back</a></div>
    </div>
{% endblock %}
